@model HotelWEB.Clases.Cliente
@{
    ViewBag.Title = "EdicionCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>EdicionCliente</h2>
<input typeof="text" name="ID" readonly="readonly" size="40" style="width:28px" value="@Model.ID.ToString()"</input>

